name: Node.js Package
on:
    push:
        branches:
            - master
    release:
        types: [created]
permissions:
  id-token: write
  contents: write
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: latest
            - run: npm ci
            - run: npm test

    publish-npm:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: latest
                  registry-url: https://registry.npmjs.org/
            - run: npm ci
            - run: npm publish